*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(#F28A80, #ffffff);
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    font-family: 'Bebas Neue', cursive;
    background-color:#F28A80;
    opacity: 0.75;
    color: #ffffff;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top:0;
    width: 100%;
}

.navbar .links{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.navbar .links li{
    font-size: 30px;
    display: flex;
    height: 100%;
    list-style-type: none;
    padding: 10px 50px;
}

.links li:hover {
    background-color: #F26363;
    color: #71D9D9;
    cursor: pointer;
}



/*
#carousel{
    width: 100%;
    height: 100vh;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
}

#carouselSlideshow{
    overflow: hidden;
    background-color: #333333;
    width: 100%;
    height: 100%;
}


.lArrow{
    z-index: 1;
    background-color: aqua;
    position: absolute;
    transition: background 0.5s;
    height: 50px;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

.rArrow{
    
    left: auto;
    right: 0;
    z-index: 1;
    background-color: aqua;
    position: absolute;
    transition: background 0.5s;
    height: 50px;
    
    top: 50%;
}



#carouselImages{
    width: 100%;
    height: 100%;
}

#carouselImages img{
    width: 100%;
    height: 100%;
}

*/



/*

/* Slideshow container */
#carouselSlideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
  }
  
  
  .carouselImages {
    display: none;
  }
  
  /* Next & previous buttons */
  .lArrow, .rArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .rArrow {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

*/


.carousel {
    box-sizing: border-box;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
.carouselImages {
    width: 100%;
    display: none;
  }

.carouselImages img {
    vertical-align: middle;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }











.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.contentBlock{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 200px;
}

#expText{
    padding: 5px;
    text-align: center;
    font-size: larger;
}


#projList{
    list-style-type: none;
}

.typeOfProj{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 80px;
}

.listedProject{
    padding-top: 30px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.projName{
    font-weight: 1000;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 50px;
    text-align: center;
}



h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-align: center;
}



.projectInfo{
    padding: 5px;
    display: flex;
    list-style-type: none;
    align-items: top;
    justify-content: space-evenly;

}

.refImageDiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.refImage{
    max-height: 100%;
}

.projectItem {
    background-color: #F26363bf;
    padding: 20px;
    height: 200px;
    width: 300px;
}

.projectItemT {
    background-color: #71D9D9bf;
    padding: 20px;
    height: 200px;
    width: 300px;
}


.h3Title{
    text-align: center;
}

.techList{
    align-items: center;
}

.techUsed{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.imageTech{
    height: 50px;
}

.linkToRepo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkToRepoImg {
    padding-top: 10px;
    width: 40%;
}


.execDate{
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.dateImg{
    width: 30%;
}


.aboutInP{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#fotoMia{
    height: 80%;
}


#aboutInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.skillsPB{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}


.contactSection{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contactoSocials{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#contactoSocials img{
    height: 50px;
}
#contactoSocials img:hover{
    cursor: pointer;
}


#buttonContact{
    font-family: 'Bebas Neue', cursive;
    background-color: #71D9D9;
    border: none;
    color: white;
    padding: 1px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}


#buttonContact:hover{
    background-color: #333333;
    cursor: pointer;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formulario div{
    padding: 5px;
}

.fields{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}